@media only screen and (orientation: landscape) {
  body {
    flex-direction: row;
  }

  aside {
    position: sticky;
    top: 0;
    bottom: 0;
    overflow: auto;
  }

  .cc-add {
    display: none;
  }

  aside,
  main {
    flex: 0 0 50vw;
  }

  #mastery-progress {
    position: relative;
  }

  .title,
  .cc-card>h2 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 700px) {

  body {
    flex-direction: row;
  }

  aside {
    position: sticky;
    top: 0;
    bottom: 0;
    flex: 1 0 calc(100% / 5 * 2);
    overflow: auto;
  }

  .cc-add {
    display: none;
  }

  main {
    flex: 1 0 calc(100% / 5 * 3);
  }

  #card-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .cc-card {
    flex: 0 0 calc(100% / 3 - 10px);
  }

  #mastery-progress {
    position: sticky;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
  #mastery-progress {
    display: flex;
    position: sticky;

  }
}