:root {
    /* whites and blacks */
    --clr-white: #FFFFFF;
    --clr-grey-l: #c7bbb2;
    --clr-grey: #565555;
    --clr-grey-d: #3c3c3b;
    --clr-black: #1f2223;
    --clr-black-50: #1f222363;
    /*faction colors*/
    --clr-blue: #50809c;
    --clr-blue-d: #252d5c;
    --clr-purple: #472359;
    --clr-red: #b33536;
    /* additional colors */
    --clr-green: #30883c;
    --clr-yellow: #d3a92b;
    --clr-orange: #d3642b;
    --clr-pink: #CC358B;
    /* backgrounds */
    --clr-bg: var(--clr-grey-l);
    --clr-btn-bg: var(--clr-grey-d);
    /* text color */
    --clr-color: var(--clr-grey-d);
    --clr-btn-col: var(--clr-grey-l);
    /* border properties*/
    --shadow: 0px 3px 0px 0px var(--clr-black);
    --shadow-hover: 0px 4px 0px 0px var(--clr-black);
    --col-1: 7/16;
    --col-2: 7/8;
    --col-3: 14/8;
}

body {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
     :root {
        --clr-bg: var(--clr-grey-d);
        --clr-color: var(--clr-grey-l);
        --clr-btn-bg: var(--clr-grey-l);
        --clr-btn-col: var(--clr-grey-d);
    }
}

body {
    margin: 0;
}

#worldmap {
    color: var(--clr-color);
    background-color: var(--clr-bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}


/*------------text Button------------*/

.btn {
    font-size: 1em;
    padding: 5px 10px;
    color: var(--clr-btn-col);
    background-color: var(--clr-btn-bg);
    border: none;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    font-family: Arial;
    text-decoration: none;
}

.btn:hover {
    box-shadow: var(--shadow-hover);
    transform: translate(0, -1px);
}

.btn:active {
    box-shadow: none;
    transform: translate(0, 3px);
}

.btn i {
    font-size: .8em;
}


/*------------UI Button------------*/

.btn.ui {
    border-radius: 10px;
    border: none;
}

.btn.ui i {
    font-size: 1.6em;
}


/*------------Checkbox-slider------------*/

.toggle {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    position: relative;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: var(--clr-red);
    border-radius: 50px;
    box-shadow: var(--shadow);
}

.toggle::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: var(--clr-grey-l);
    border-radius: 50%;
    transition: 100ms;
}

.toggle:checked {
    background-color: var(--clr-green);
}

.toggle.grey:checked {
    background-color: var(--clr-grey);
}

.toggle:hover::after {
    top: 1px;
    box-shadow: var(--shadow);
}

.toggle:checked::after {
    left: 24px;
    transition: 100ms;
}

.check {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    font-size: 1em;
    position: relative;
    display: flex;
    outline: none;
    width: 30px;
    height: 30px;
    background-color: var(--clr-btn-bg);
    border-radius: 50px;
    box-shadow: var(--shadow);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.check:checked {
    background-color: var(--clr-blue);
}

.check:checked::after {
    height: 15px;
    width: 7px;
    content: ' ';
    border-style: none solid solid none;
    border-width: thick;
    border-color: var(--clr-btn-col);
    transform: rotate( 45deg);
    margin-top: -3px;
}


/*------------Donut Graph------------*/

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph>svg>path {
    transition: 100ms;
}

.graph>svg>path:hover {
    stroke-width: 30px;
}

.chart-donut {
    transform: matrix(0 -1 -1 0 0 0);
}


/* ----------Category btn--------------- */

.type {
    position: relative;
    background-blend-mode: normal;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 120px;
    margin-bottom: 15px;
}

.type::before {
    content: attr(type);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7rem;
    display: block;
    background-color: var(--clr-grey-d);
    color: var(--clr-white);
    margin-left: -10px;
    margin-top: -60px;
    padding: 0px 10px 4px 10px;
}

.type::after {
    content: attr(value);
    bottom: 0px;
    left: 0;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: serif;
    width: calc(100% - 5px);
    text-align: left;
    background-color: #ffffff8a;
    opacity: 100;
    position: absolute;
    padding-left: 5px;
}


/* ----------Type btn--------------- */

.type[type="Documents"] {
    background-image: url('assets/img/intelTypes/documents.png');
}

.type[type="Audio logs"] {
    background-image: url('assets/img/intelTypes/audio-logs.png');
}

.type[type="Radio transmissions"] {
    background-image: url('assets/img/intelTypes/radio-logs.png');
}

.type[type="Artifacts"] {
    background-image: url('assets/img/intelTypes/artifacts.png');
}


/* ----------Modal Syle--------------- */

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-black-50);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    background-color: var(--clr-bg);
    aspect-ratio: var(--col-1);
    width: 300px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal.-big {
    aspect-ratio: var(--col-2);
    width: 600px;
}

select.faction-list {
    background: unset;
    border: unset;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--clr-color);
}

select.faction-list>option {
    background: unset;
    border: unset;
}

.modal div {
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    flex-direction: column;
    aspect-ratio: var(--col-1);
    width: 250px;
    align-items: center;
}

#intel-list button.btn {
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
}

.modal .sub-modal {
    background-color: var(--clr-btn-bg);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
}

.faction-list-icon {
    height: 40px
}

.modal ul {
    display: inline-block;
    list-style: none;
}

.modal ul li {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 5px;
}

#totals {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40%;
}

.sub-modal input {
    margin-top: 20px;
    margin-bottom: 40px;
}

.-hidden {
    display: none;
}