.leaflet-popup-content-wrapper {
  border-radius: unset;
  background-color: var(--clr-white-d);
  border: none;
  padding: 0px !important;
}.leaflet-popup-content{
  width:unset!important;
}

.intel-content {
  width: 300px ;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .intel-content {
    width: 600px;
  }
}
.misc-content{
  width:300px;
}
.leaflet-popup-content h1 {
  background-color: var(--clr-grey-d);
  padding: 5px 20px;
  width: 100%;
  color: var(--clr-white-d);
  text-transform: uppercase;
}
.leaflet-popup-content > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.leaflet-popup-content > div > div {
  display: flex;
  width: 300px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.leaflet-popup-content > div > img {
  width: 300px;
}
.leaflet-popup-content p {
  padding: 5px 20px;
}
.leaflet-popup-content {
  margin: unset;
}

.leaflet-popup-tip {
  background-color: var(--clr-white-d);
  z-index: -1;
}

.buttonContainer {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 5px;
}
.leaflet-div-icon{
  background:none;
  border:none;
}
.leaflet-div-icon > div{
  display:flex;
  justify-content: center;
}
.leaflet-div-icon .icon, .leaflet-div-icon .background{
  position:absolute;

}
.leaflet-div-icon .icon{
  z-index:2;
  top: 4px;
  left: calc(50% - 11.5px);
}
.leaflet-div-icon .background{
  z-index:1;
}