.leaflet-popup-content-wrapper {
  border-radius: unset;
  background-color: var(--clr-white-d);
  border: none;
  padding: -1px;
}

.leaflet-popup-content{
  width:clamp(300px, 600px, 600px)
}

.leaflet-popup-content h1 {
  background-color: var(--clr-grey-d);
  margin: -1px;
  padding: 5px 20px;
  width: 100%;
  color: var(--clr-white-d);
  text-transform: uppercase;
}
.leaflet-popup-content > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leaflet-popup-content > img {
  width: 300px;
  margin-right: -1px;
  margin-bottom: -1px;
}
.leaflet-popup-content p {
  padding: 5px 20px;
}
.leaflet-popup-content {
  margin: unset;
}

.leaflet-popup-tip {
  background-color: var(--clr-white-d);
  z-index: -1;
}

.buttonContainer {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
