* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: sans-serif;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #e8e8d3;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #6b6b6b;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #2d2d2d;
}

#worldMap {
    display: block;
    grid-column: 1;
    height: 90vh;
    width: 80vw;
    background-color: #2d2d2d;
    cursor: crosshair;
    float: right;
    z-index: 0;
}

header {
    height: 10vh;
    width: 100vw;
    background: #2d2d2d;
    color: #e8e8d3;
    font-family: sans-serif;
    display: grid;
    grid-auto-flow: column;
    border-bottom: 1px solid #e8e8d3;
    user-select: none;
}

header>div,
.dropdown-item {
    padding: 10px 20px;
    margin: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #e8e8d3 50%);
    background-size: 200%;
    background-position: 0 0;
    transition: 0.1s ease-in-out;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
}

header>div:hover,
.dropdown-item:hover {
    background-position: -100% 0;
    color: #2d2d2d;
}


/* Leaflet Stuff */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background-color: #e8e8d3!important;
}

.leaflet-popup-close-button {
    color: #7c2728!important;
    text-shadow: -1px -1px 0 #e8e8d3, -1px 1px 0 #e8e8d3, 1px 1px 0 #e8e8d3, 1px -1px 0 #e8e8d3;
    font-size: 20px!important;
    right: 3px!important;
    top: -10px!important;
}

.leaflet-popup-content,
.leaflet-popup-content-wrapper {
    color: #2d2d2d!important;
    background-color: #e8e8d3!important;
    border-radius: 0!important;
}

.leaflet-popup-tip {
    background-color: #e8e8d3!important;
}

.leaflet-popup-content {
    margin: 0 19px!important;
}

.leaflet-popup-content-wrapper {
    padding: 0 1px!important;
}

.leaflet-popup-content p {
    margin: 0!important;
    padding: 5px 0 10px 0!important;
}

.leaflet-popup-content h1 {
    margin-top: -16px;
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #6b6b6b;
    color: #e8e8d3;
}

.not-selectable {
    user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.dropdown-item {
    padding: 10px 20px;
    color: #e8e8d3;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d2d2d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.current-map {
    background-color: #e8e8d3;
    color: #2d2d2d;
}


/* styling for the intel cards */

aside {
    display: block;
    height: 90vh;
    width: 20vw;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
    background: #e8e8d3;
}

aside #searchTerm {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: medium;
    border: 0;
}

aside #searchTerm:focus-visible {
    outline: none;
}

.season-list,
.category-list,
.intel-desc {
    max-height: 0px;
    overflow: hidden;
}

.season-list.visible,
.category-list.visible,
.intel-desc.visible {
    max-height: 10000px!important;
}

.faction-list>h2 {
    background-color: #6b6b6b;
    padding: 10px 15px;
    color: #dadacd;
    border-bottom: 1px solid #e8e8d3;
    text-transform: capitalize;
    justify-content: flex-start;
    display: flex;
    text-transform: capitalize;
    align-content: flex-start;
    align-items: center;
    font-size: 25px;
}

.faction-icon {
    height: 30px;
    margin-right: 10px;
    text-align: center;
}

.faction-list>div>div:first-of-type>h2 {
    background-color: #bbbbbb;
}

.faction-list>div>div:nth-of-type(2)>h2 {
    background-color: #e52114;
    /* color: #e8e8d3; */
}

.faction-list>div>div:nth-of-type(3)>h2 {
    background-color: #329e32;
}

.faction-list>div>div:nth-of-type(4)>h2 {
    background-color: #7cbeee;
}

.faction-list>div>div:nth-of-type(5)>h2 {
    background-color: #c84c34;
}

.season-item>h2 {
    font-size: 0.8em;
    color: #2d2d2d;
    padding: 10px 25px;
}

.category{
    user-select: none;
}

.category-item>h2 {
    padding: 10px 20px;
    border-bottom: 1px solid #2d2d2d;
    font-size: 0.7em;
}

.category-list.visible>.category-item {
    border-bottom: 1px solid #2d2d2d;
}

.category-item:last-child {
    border: 0;
}

.intel-item>h2 {
    padding: 7px 30px 7px 30px;
    font-size: 22px;
    text-transform: uppercase;
}

.intel-subtitle {
    padding-left: 40px;
    font-size: 0.6em;
}

.intel-description {
    padding: 5px 40px;
}

.item-location {
    width: calc(100% - 100px);
    margin-left: 40px;
    padding: 5px;
    margin-bottom: 20px;
}

.action-buttons {
    padding: 6px;
    margin-left: 2px;
}

.buttonContainer {
    display: flex; 
    justify-content: center; 
    padding-bottom: 5px;
}

#collapse {
    z-index: 500;
    display: flex;
    background-color: #e8e8d3;
    position: absolute;
    top: 90px;
    left: 12px;
    padding: 50px 8px;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 2em;
    float: left
}

#collapse:hover {
    background-color: #dadacd;
}

#aside.menu-closed {
    width: 0vw;
}

#worldMap.menu-closed {
    width: 100vw;
}

#aside.mobile-view {
    width: 83vw;
}

#worldMap.mobile-view {
    width: 17vw;
}

#aside.mobile-view.menu-closed {
    width: 0vw;
}

#worldMap.mobile-view.menu-closed {
    width: 100vw;
}


/*notification styling*/

#notification-popup {
    display: none;
    position: absolute;
    bottom: -200px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    border-radius: 50px;
    padding: 10px 15px;
    /* transition: bottom 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); */
    margin: auto 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#notification-popup.animated {
    animation: bounce-in 3s;
    display: block;
}
#notification-popup.fixed {
    bottom: 0px;
    display: block;
}

@keyframes bounce-in {
    0% {
        bottom: -20px;
    }
    1% {
        bottom: 0px;
    }
    3% {
        bottom: -12px;
    }
    6% {
        bottom: -20px;
    }
    9% {
        bottom: -5px;
    }
    10% {
        bottom: 0px;
    }
    100% {
        bottom: 0px;
    }
}

#error-notif {
    display: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.2;
}

.accordion-item,
.accordion-button {
    background: #6b6b6b;
    font-weight: bold;
    color: #dadacd;
}

.accordion-button:not(.collapsed) {
    background: #6b6b6b;
    font-weight: bold;
    color: #dadacd;
}

#filters.accordion.accordion-flush,
.accordion-item {
    border-bottom: 1px solid #e8e8d3;
    background: gray;
}

/* Bootstrap Overrides */

.btn-info {
    color: #FFFFFF;
    background-color: #565555;
    border-color: #1f2223;
}