* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: sans-serif;
}

#worldMap {
    display: block;
    grid-column: 1;
    height: 90vh;
    width: 80vw;
    background-color: #2D2D2D;
    cursor: crosshair;
    float: right;
    border-top: 1px solid #e8e8d3;
}

.current-map {
    background-color: #e8e8d3;
    color: black;
}

aside {
    display: block;
    height: 90vh;
    width: 20vw;
    float: left;
    background: #e8e8d3;
}

header {
    height: 10vh;
    width: 100vw;
    background: #2d2d2d;
    color: #e8e8d3;
    font-family: sans-serif;
    display: grid;
    grid-auto-flow: column;
}

header div {
    padding: 5px 10px;
    margin: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #e8e8d3 50%);
    background-size: 200%;
    background-position: 0 0;
    transition: 0.1s ease-in-out;
    font-family: sans-serif;
}

header div:hover {
    background-position: -100% 0;
    color: #2d2d2d;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background-color: #e8e8d3!important;
}

.leaflet-popup-close-button {
    color: #7c2728!important;
    text-shadow: -1px -1px 0 #e8e8d3, -1px 1px 0 #e8e8d3, 1px 1px 0 #e8e8d3, 1px -1px 0 #e8e8d3;
    font-size: 20px!important;
    right: 3px!important;
    ;
}

.leaflet-popup-content,
.leaflet-popup-content-wrapper {
    color: #2D2D2D!important;
    background-color: #e8e8d3!important;
    border-radius: 0!important;
}

.leaflet-popup-tip {
    background-color: #e8e8d3!important;
}

.leaflet-popup-content h1 {
    margin-top: -16px;
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #6b6b6b;
    color: #e8e8d3;
    margin-bottom: 5px
}

.itemList.visible {
    max-height: 1000px;
    ;
}

.title {
    user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.title span {
    float: right;
    width: 20px;
    text-align: center;
}

.itemList {
    /* background-color: red; */
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    display: block;
    transition: ease-in-out 0.5s;
}

.itemList :nth-child(odd) {
    background: #e8e8d3;
}

.itemList :nth-child(even) {
    background: #dadacd;
}